

.ProgramFonds{

  .row{
    justify-content: center !important;
  }

  .rowBox{
    padding-top: 3.125rem;
    padding-left: 3.125rem;
    max-width: 34.0625rem !important;
    min-height: 15.3125rem !important;
    margin-bottom: 2.5rem !important;
    margin-right: 1.5625rem !important;

    .ContentTitle{
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 96.4%;
      color: #000;
    }

    .ContentText{
      font-weight: 500;
      font-size: 1rem;
      line-height: 96.4%;
      padding-top: 1.25rem ;
      color: #000000;
    }


    .ParentBtn{
      display: flex;
      justify-content: end;
      margin-top: 3.5rem ;
      margin-right: 3.125rem ;
      .ProgramBtn{
        text-transform: capitalize !important;
      }

    }
  }


}
