@import "../../assets/helper";

.AnalyticUsers{
  margin-bottom: 12.5rem !important;
  .def-content-title{
    border-radius: 1.25rem;
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
  }

  .content2{
    margin-top: 2rem !important;
  }


  .fa-solid{
    display: inline-block;
    transform: translateY(5px);
    font-size: 1.8125rem;
    margin-right: 1.5rem;
  }
  .fa-solid.green{
    color: #2DC008;
  }
  .fa-solid.red{
    color: #F52D30;
  }
}

.user-register{
  font-family: 'Giga Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 96.4%;
  color: #000000;
  &:first-child{
    margin-bottom: 3.125rem;
  }
  span{
    font-size: 3rem;
  }
}

.chart-info{
  @include flex('sb', 'e');
  .chart-info-title{
    font-family: 'Giga Sans', serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.9375rem;
    text-align: center;
    color: #000000;
  }
  .chart-info-counts{
    width: 100px;
    font-family: 'Giga Sans', serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3.875rem;
    color: #000000;
    padding-right: 0.625rem;
    p{
      &:nth-of-type(2){
        margin-top: -1.25rem;
        margin-bottom: -0.625rem;
      }
    }
  }
}