@import "../../assets/helper";


.table-page-change{
  @include flex('e', 'c');
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.015625rem;
  color: #454D59;
  white-space: nowrap;

}